%li.col-lg-6.season-episodes-item
  .list-group-item.list-group-item-action.season-episodes-item__container
    = link_to episode.nico_url, class: 'season-episodes-item__link', target: '_blank' do
      .col-11.pl-0
        .season-episodes-item__title-container
          .season-episodes-item__thumbnail
            = image_tag episode.thumbnail_url, alt: 'Card image cap', class: 'season-episodes-item__image'
          .season-episodes-item__title
            = episode.full_title(false)
      .col-1.p-0
        .season-episodes-item__icon-container
          %i.far.fa-play-circle.season-episodes-item__icon
          %p.season-episodes-item__icon-label 視聴
