%li.col-lg-1-of-5.seasons-item
  .list-group-item.list-group-item-action.seasons-item__container
    = link_to season, class: 'seasons-item__link' do
      .seasons-item__thumbnail
        = image_tag season.thumbnail_url, alt: season.title
      .seasons-item__title-container
        .seasons-item__title
          = season.title
