%section.seasons
  %h2.seasons__title 作品一覧
  = render 'application/paginator', resources: @seasons
  = render 'seasons/seasons', seasons: @seasons
  = render 'application/paginator', resources: @seasons
