.contents__header.with-search-field
  %h2 動画検索
  = render 'application/season_search_form', season_search_form: @season_search_form, path: episodes_path
.contents__body
  .wrapper
    %ul.pl-0
      %li
        - if @season_search_form.keywords.present?
          %h3 動画の検索結果
        - else
          %h3 動画一覧
        - if @season_search_form.keywords.present?
          = render 'paginator', resources: @episodes
        %ul.list-group
          - @episodes.each do |episode|
            = render 'episode', episode: episode, with_season_title: true
        - if @season_search_form.keywords.present?
          = render 'paginator', resources: @episodes
