%section.about
  .about-site
    %h2.about-site__title 当サイトについて
    %p danime-nico-toolsはdアニメストア ニコニコ支店の利用を便利にする（かもしれない）サイトです。
    %p 各作品・動画のデータはdアニメストア 本店及びニコニコ支店から取得しています。
    %p ※当サイトの運営は個人で行っており、dアニメストア及びニコニコの公式のサイトではありません。
  %h3.about-can-be__title できること
  %ul.aboout-can-be-items
    %li.about-can-be-item 作品のキーワードでの検索
    %li.about-can-be-item 各話のキーワードでの検索
  %h3.about-plan__title できないこと（今後実装予定）
  %ul.about-plan-items
    %li.about-plan-item 作品のジャンルでの検索
    %li.about-plan-item 作品のタグでの検索
    %li.about-plan-item 各話のタグでの検索
    %li.about-plan-item Chrome拡張danime-another-commentとの連携
  %h3.about-cannot-be__title できないこと（今の所実装予定なし）
  %ul.about-cannot-be-items
    %li.about-cannot-be-item 作品の50音での検索
