.home
  .container
    .home-logo
      %h1.home-logo__title danime-nico-tools
      %p.home-logo__description dアニメストア ニコニコ支店のための検索サイト
    = render 'application/season_search_form', season_search_form: @season_search_form
