main
  header
    display: flex
    align-items: center
    padding: 5px 20px
    position: fixed
    width: calc(100% - 84px)
    background-color: darken($base-color, 70%)
    color: lighten($base-color, 40%)
    z-index: 2

    h1
      font-size: 30px
      margin-bottom: 0
      margin-right: 10px
