header
  display: flex
  align-items: center
  padding: 5px 20px
  position: fixed
  width: 100%
  background-color: darken($base-color, 40%)
  color: lighten($base-color, 40%)

  h1
    display: inline-block
    font-size: 30px

  input
    height: 26px
    margin-left: 10px
    padding: 10px

  select
    height: 26px
    margin-left: 10px
    padding: 10px
