.paginator
  display: flex
  align-items: center
  justify-content: center

  .pagination
    margin: 5px 0

    .page-item
      .page-link
        color: $main-color

      &.disabled
        .page-link
          color: black

      &.active
        .page-link
          background-color: $main-color
          color: lighten($base-color, 40%)
          border-color: $main-color
