.seasons
  margin-bottom: 40px

  &__title-container
    display: flex
    align-items: center
    justify-content: flex-start
    margin-bottom: 10px

  &__title
    margin-bottom: 15px
    font-size: 20px

  &__count
    background-color: $main-color
    color: white

    &.badge
      font-size: 16px

  &-items
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    padding-left: 0
    margin-bottom: -10px

    +media-breakpoint-down(sm)
      +children_without_both_ends_padding($class: seasons-item, $per: 2)

    +media-breakpoint-between(sm, md)
      +children_without_both_ends_padding($class: seasons-item, $per: 3)

    +media-breakpoint-between(md, lg)
      +children_without_both_ends_padding($class: seasons-item, $per: 4)

    +media-breakpoint-up(lg)
      +children_without_both_ends_padding($class: seasons-item)

    &__container
      margin-bottom: 10px

    &.row
      margin-right: 0
      margin-left: 0
    
    .seasons-item
      padding: 0 5px
      margin-bottom: 10px

      &__container
        padding: 0

      &__link
        display: block
        padding: 5px

        &:hover
          text-decoration: none

          .seasons-item__thumbnail
            opacity: 0.5

          .seasons-item__title
            text-decoration: underline

      &__thumbnail
        +thumbnail-container

        img
          +thumbnail-image

      &__title-container
        display: flex
        justify-content: space-between
        padding: 10px 5px

      &__title
        +clamp(3)
        height: 72px

      &__icon-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

      &__icon
        font-size: 1.6em

      &__icon-label
        font-size: 0.8rem
