.season
  &-header
    display: flex

    &__container
      margin-bottom: 20px

    &__detail
      max-width: 800px

      +media-breakpoint-up(lg)
        margin-right: 10%

      +media-breakpoint-up(md)
        margin-right: 2%

      .season-header__image
        +media-breakpoint-up(md)
          display: none

        +media-breakpoint-down(md)
          display: flex
          margin-bottom: 15px

    &__title
      font-size: 24px
      margin-bottom: 15px

    &__image
      +media-breakpoint-up(md)
        padding: 15px 0 0 15px

      +media-breakpoint-down(md)
        padding: 0

  &-title
    +wrapper

    &-container
      display: flex
      margin-bottom: 0

    &__image
      padding-right: 10px

    &__title
      display: flex
      align-items: center

  &-outline
    +wrapper

  &-episodes
    margin-bottom: 20px

    &__title
      font-size: 20px
      padding-bottom: 5px
      margin-bottom: 10px
      border-bottom: 1px solid rgba(0, 0, 0, .125)

    &__count
      background-color: $main-color
      color: white

      &.badge
        font-size: 16px

    &-items
      display: flex
      flex-flow: wrap
      padding-left: 0
      margin-bottom: -5px

      &.row
        margin-right: 0
        margin-left: 0

      &__container
        margin-top: 10px
        margin-bottom: 10px

      .season-episodes-item
        margin-bottom: 5px

        &:nth-child(odd)
          padding-right: 5px

        &__container
          padding: 0

        &__link
          display: flex
          padding: 5px

          &:hover
            text-decoration: none

            .season-episodes-item__thumbnail
              opacity: 0.5

            .season-episodes-item__title
              text-decoration: underline

        &__thumbnail
          padding-right: 15px

        &__image
          width: 127px
          height: 72px
          object-fit: cover

        &__title
          +clamp(3)

          &-container
            display: flex

        &__icon-container
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          height: 100%

        &__icon
          font-size: 1.6em

        &__icon-label
          font-size: 0.8rem

  &-staff
    &__title
      font-size: 20px
      margin-bottom: 10px
      padding-bottom: 5px
      border-bottom: 1px solid rgba(0, 0, 0, .125)

    &-items
      padding-left: 0

    &-item
      margin-bottom: 15px

      &__title
        font-size: 1rem
        margin-bottom: 5px
