body
  display: flex
  width: 100%

  main
    width: 100%
    margin-left: 84px

    .contents
      padding: 20px 30px
      margin-top: 50px
      min-height: 700px
      background-color: $base-color

  li
    list-style: none
