body
  display: flex
  width: 100%

  main
    width: 100%
    margin-left: 84px

    .contents
      padding: 20px 30px
      margin-top: 46px
      min-height: 700px
      background-color: $base-color

  li
    list-style: none

    &:focus
      outline: none

  a
    color: $main-color

    &:hover
      color: $main-color

    &:focus
      outline: none

  input[type="text"]
    &:focus
      border-color: #ced4da
      box-shadow: none
