%header.header.row.m-0
  .col-9
    .row.d-flex.justify-content-start.m-0
      .col-3
        %h1.header__logo danime-nico-tools
      .col-6
        = render 'season_search_form', season_search_form: @season_search_form
