%header.header.row.m-0
  .col-xl-9.col-11
    .row.d-flex.justify-content-start.m-0
      .col-lg-3.col-sm-11
        %h1.header__logo danime-nico-tools
      .col-xl-6.col-lg-7.col-sm-1
        .d-sm-none.d-lg-flex
          = render 'season_search_form', season_search_form: @season_search_form
        .d-lg-none.d-sm-flex.justify-content-end.h-100
          = link_to '#season-search-form', class: 'btn header__search-btn', 'data-toggle': 'collapse', role: 'button', 'aria-expanded': 'false', 'aria-controls': 'season-search-form' do
            %i.fas.fa-search
      .col-12.collapse#season-search-form
        = render 'season_search_form', season_search_form: @season_search_form
