- param_name = 'page' unless defined?(:param_name)
- if resources.total_pages > 1
  = paginate resources, total_count: resources.total_count, param_name: param_name
- else
  .paginator
    .paginator__total-count
      全
      = resources.total_count
      件
